body{
background: #1E88E5;
margin: 14px;
font-family: 'Abel', sans serif;
}

h1{
font-size: 65px;
color: white;
text-shadow: #FC0 9px 0px 5px, 0px 0px 5em blue, 0 0 0.5em green;
font-family: 'Abel', sans serif;
}

.navLink{
color: darkblue;
font-size: 30px;
width: 222px;
height: 30px;
background-color: yellow;
float: center;
margin-top: -5px;
padding: 8px;
font-family: 'Abel', sans serif;
}

#navBar{
width: 85%;
height: 70px;
margin: auto;
position: relative;
}

p{
font-size: 17px;
color: white;
font-family: 'M PLUS 1p', sans serif, 'Abel', sans serif, 'Noto Serif TC', serif;
}

footer{
color: white;
font-family: 'Abel', sans serif;
}

a{
font-size: 17px;
color: lightyellow;
font-family: 'Abel', sans serif;
}

h2{
font-size: 45px;
color: white;
text-shadow: #FC0 9px 0px 5px, 0px 0px 5em blue, 0 0 0.5em green;
font-family: 'Abel', sans serif;
}

li{
font-size: 17px;
color: white;
font-family: 'Abel', sans serif;
}

